*{
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}
.cabecalho{
    height: 69px;
    width: 100%;
    background-color: #EC362D;;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 37px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

/* Tela 1*/
.screen1-content{
    display: flex;
    justify-content: center;

}
.criarQuiz-container{
    width: 73%;
    max-width: 1051px;
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    Margin: 35px 195px;
    color: #b9b9b9;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.Todos-quizes{
    width: 73%;
    max-width: 1050px;
    font-size: 20x;
    font-weight: 700;
    color: black;
    line-height: 23.44px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centro{
    justify-content: center;
    align-items: center;
}
.estilo_inicial{
    border: 3px dashed #D5D5D5;
    height: 181px;
}
.msg-box{
    width: 250px;
    height: 107px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.msg-box button{
    margin-top: 25px;
    background-color: #fafafa;
    height: 40px;
    width: 151px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.msg-box  button:hover{
    background-color: #EC362D;
    color: white;
    cursor: pointer;
}
.Quizz-cadastrados-container{
    width: 100%;
}
.Quizz-cadastrado-lista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.texto1{
    color:black;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.texto1 ion-icon{
    color: #EC362D;
    font-size: 30px;
    margin-left: 17px;
    border-radius: 15px;
}


.texto1 ion-icon:hover{
    font-size: 31px;
    cursor: pointer;
}
.Quizz-lista-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container_centro{
    display: flex;
    align-items: center;
}
.quizz-container{
    Width: 340px;
    Height: 181px;
    margin: 5px;
    border-radius: 5px;
    overflow: hidden;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url('https://developers.google.com/static/maps/documentation/maps-static/images/error-image-generic.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items:  flex-end;
}

.quizz-container:hover{
    border: 1px solid #D5D5D5;
}

.quizz-container:hover > p{
    text-decoration: underline;
}

.quizz-container p{
    margin: 0px 20px 7px 20px;
    word-break: break-all;
    font-size: 19px;
    color: #fff;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-overflow: ellipsis;    
}



/*Tela 2*/
.tela2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-Quiz{
    width: 100%;
    position: relative;
    height: 227px;
    overflow-y: hidden;
}
.header-Quiz img{
    filter: brightness(0.4);
    width: 100%;
}
.header-Quiz p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}

.container-final, .container-perguntas{
    padding-top: 28px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    width: 759px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.level, .pergunta{
    width: 688px;
    height: 138px;
    background: #434CA0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.level{
    height: 99px;
    background: #EC362D;
}
.levels-info{
    margin-top: 18px;
    width: 688px;
    display: flex;
}
.levels-info img{
    width: 364px;
    margin-right: 21px;
}
.levels-info p{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    color: #484848;
}
.respostas{
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resposta{
    display: flex;
    flex-direction: column ;
}
.reiniciar:hover, .voltar:hover, .resposta:hover{
    cursor: pointer;
}
.resposta img{
    margin-top: 20px;
    width: 330px;
    height: 175px;
}
.resposta p{
    margin-top: 8px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.reiniciar{
    width: 260px;
    height: 52px;
    margin-top: 57px;
    background: #EC362D;
    border-radius: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF5F4;
    border: none;
}
.voltar{
    width: 220px;
    height: 44px;
    margin-bottom: 85px;
    margin-top: 16px;
    background: transparent;
    border-radius: 15px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #818181;
    border: none;
}
.apagado{
    filter: opacity(0.3);
}
.correta{
    color: #009C22;
}
.errada{
    color: #FF4B4B;
}

/* CLasse usadas na página 1*/
.screen1-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Tela 3*/
.tela3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span {
    margin: 70px 0 30px 0;
    font-size: 23px;
    font-weight: 700;
}
.basic-info {
    background-color: #FFFFFF;
    width: 600px;
    height: 256px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  }
  
input {
    padding-left: 23px;
    display: block;
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-size: 19px;
  }
input::placeholder{
    color: #BABABA;
    font-weight: 400;
    font-size: 19px;
    font-style: italic;
 }
.next-step{
    margin-top: 85px;
    background-color: #EC362D;
    width: 368.86px;
    height: 54px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 21px;
    color: #FFF5F4;
} 
.next-step:hover{
    cursor: pointer;
}
.create-question {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    width: 600px;
    max-height: 75px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
.create-question.expanded {
    max-height: 825px;
    transition: max-height 0.3s ease-in-out;
}
.create-question:not(.expanded) {
    transition: max-height 0.3s ease-in-out;
}
.create-question.collapsed {
    max-height: 75px;
}
  

  
.question-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.question-header img{
    width: 26px;
    height: 23px;
    margin-right: 20px;
}
.question-header:hover{
    cursor: pointer;
}
.question-content{
    display: flex;
    flex-direction: column;
}
.create-question span {
    margin: 28px 0 25px 17px;
}
.create-question input {
    margin: 0 0 14px 17px;
}
.collapsed{
    height: 75px;
} 
.create-question.collapsed .question-header {
    border-bottom: none;
}
.create-question.collapsed .question-content {
    display: none;
}
.create-question.expanded {
    height: auto;
}
  
.question-content.escondido {
    display: none;
}
  
 

.escondido{
    display: none; 
}
@media(max-width: 1100px){
    .criarQuiz-container
    {
        width: 90%;
        margin: none;
    }

    .Todos-quizes{
        width: 90%;
    }
}