*{
    box-sizing: border-box;
}
body{
    background-color: #FAFAFA;
}
.cabecalho{
    height: 69px;
    background-color: #EC362D;;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 37px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}
.escondido{
    display: none; 
}

/*tela 2*/
.tela2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-Quiz{
    width: 100%;
    position: relative;
    height: 227px;
}
.header-Quiz img{
    filter: brightness(0.4);
    width: 100%;
    height: 100%;
}
.header-Quiz p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
}

.container-perguntas{
    padding-top: 28px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 42px;
    width: 759px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}
.pergunta{
    width: 688px;
    height: 138px;
    background: #434CA0;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.respostas{
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.resposta{
    display: flex;
    flex-direction: column ;
}
.resposta:hover{
    cursor: pointer;
}
.resposta img{
    margin-top: 20px;
    width: 330px;
    height: 175px;
}
.resposta p{
    margin-top: 8px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}
.apagado{
    filter: opacity(0.3);
}
.correta{
    color: #009C22;
}
.errada{
    color: #FF4B4B;
}

/* CLasse usadas na página 1*/
.screen1-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.criarQuiz-container{
    width: 1051px;
    height: 181px;
    border: 3px dashed #D5D5D5;
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    Margin: 77px 195px;
    color: #b9b9b9;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    flex-shrink: 0;
}
.criarQuiz-container div{
    width: 250px;
    height: 107px;
    display: flex;
    align-items: center;
    text-align: center;
}
.criarQuiz-container button{
    background-color: #fafafa;
    height: 40px;
    width: 151px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    border-radius: 50px;
    font-size: 21px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.Todos-quizes{
    width: 1050px;
    font-size: 20x;
    font-weight: 700;
    color: black;
    line-height: 23.44px;
    font-family: 'Roboto', sans-serif;
}
.Quizz-lista-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.quizz-container{
    Width: 340px;
    Height: 181px;
    margin: 5px;
    display: inline-block;
    position: relative;
}

.quizz-container img {
    Width: 340px;
    Height: 181px;
    object-fit: cover;
    position: absolute;
  }
  
  .quizz-container label {
    position: absolute;
    font-size: 32px;
    left: 18px;
    bottom: 2px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
  }


@media(max-width: 1100px){
    .criarQuiz-container
    {
        width: 90%;
    }

    .Todos-quizes{
        width: 90%;
    }
}